<button class="btn btn-light m-1" (click)="openVerticallyCentered(content)"> <i class="fa-regular fa-pen-to-square icono"></i>

</button>

  
<form [formGroup]="producForm">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title modalClass">Editar Producto</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body container text-center">
        <div class="row">
          <div class="">
            <label class="form-label fw-bold">Nombre:</label>
            <div class="mt-2">
              <input class="form-control" formControlName="title">
            </div>
          </div>
          <div class="col">
            <label class="form-label fw-bold">Precio:</label>
            <div class="mt-2">
              <input class="form-control" formControlName="price">
            </div>
          </div>
          <div class="col">
            <label class="form-label fw-bold">Categoría:</label>
            <div class="mt-2">
              <input class="form-control" formControlName="category">
            </div>
          </div>
          <div class="">
            <label class="form-label fw-bold">Descripción:</label>
            <div class="mt-2">
              <input class="form-control" formControlName="description">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onsubmit(content)">Guardar</button>
      </div>
    </ng-template>
  
  </form>