
<app-modal></app-modal>

<!-- 
<div class="container">
  <div class="row">
    <div class="col-12 text-end">
      <button class="btn btn-light" (click)="openVerticallyCentered(content)"> <i
          class="fa-solid fa-plus icono"></i></button>
    </div>
  </div>
</div> -->



@if (!productState.loading) {
<table datatable class="row-border hover" id="tablas" [dtOptions]="dtOptions">
  <thead>

    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produc of productos">
      <td>{{produc.id}}</td>
      <td>{{produc.title}}</td>
      <td>{{produc.price}}</td>
      <td>{{produc.description}}</td>
      <td>{{produc.category}}</td>
      <td>
        <button class="btn btn-light m-1" (click)="editElement()"> <i class="fa-regular fa-pen-to-square icono"></i>

        </button>
        @if (produc.id) {
        <button class="btn btn-light" (click)="deleteElement(produc.id)"> <i class="fa-solid fa-trash icono"></i>

        </button>
        }

      </td>
    </tr>



  </tbody>


</table>

}@else {
<p>Cargando...</p>
}


